<html>
    <head>
        <link href="/Weteoes/Client/Main/index/css/index.css" rel="stylesheet">
        <link href="/Weteoes/Client/Main/index/css/AppMenu.css" rel="stylesheet">
        <link href="/Weteoes/Client/Main/index/css/data_setting.css" rel="stylesheet">
        <link href="/Weteoes/Client/Main/index/css/data_about.css" rel="stylesheet">
        <link href="/Weteoes/Client/All/css/SystemMenu.css" rel="stylesheet">
    </head>
    <body>
        <div class='main'>
            <div class='main_body'>
                <div class='main_body_top'>
                    <div class="SystemMenu">
                        <!-- <div class='menu exit' id='exit'>×</div> -->
                        <div class='menu mini' id='mini'>×</div>
                    </div>
                    <div class='top_data'>
                        <div class='top_data_body'>
                            <div class='top_data_body_one'></div>
                            <div class='top_data_body_two'>
                                <div class='top_title_one'><span id='Language_top_title_one'>Login User: </span><span id='User'>User</span></div>
                                <div class='top_title_two success' id='Language_top_title_two'>Service connection success</div>
                            </div>
                        </div>
                    </div>
                    <div class='AppMenu'>
                        <div class='menu menu_now' w_div='data_setting' style='margin-left: -16px;'>
                            <div class='title' id='Language_Menu_Setting'>Setting</div>
                            <div class='background'></div>
                        </div>
                        <div class='menu menu_' w_div='data_about'>
                            <div class='title' id='Language_Menu_About'>About</div>
                            <div class='background'></div>
                        </div>
                        <div class='menu menu_' w_div='data_language' w_language='zh_CN'>
                            <div class='title' id='Language_Menu_Language'>简体中文</div>
                            <div class='background'></div>
                        </div>
                    </div>
                </div>
                <div class='main_body_data'>
                    <!-- Seteting -->
                    <div class='data_all data_setting'>
                        <div class='data_setting_center'>
                            <div class='Reboot_Information' id='Language_Setting_Reboot' w_IsNull='true'></div>
                            <!-- 选项区域 -->
                            <div class='setting_edit'>
                                <div class='title' w_menu='Computer_Name' id='Language_Setting_ComputerName'>Computer Name: </div>
                                <div class='data'>
                                    <span id='Setting_Computer_Name'>Computer</span>
                                    <div class='editButton'></div>
                                </div>
                                <div class='edit'>
                                    <input type='text' spellcheck='false' maxlength="20" val='Computer' />
                                </div>
                            </div>
                            <!-- 选项区域 End -->
                        </div>
                    </div>
                    <!-- About -->
                    <div class='data_all data_about'>
                        <div class='data_about_center'>
                            <div class='about_text'>
                                <div class='title' id='Language_About_Version'>Version: </div>
                                <div class='data'>
                                    <span id='About_Version'>3.0.1.1901261921</span>
                                </div>
                            </div>
                            <div class='about_text'>
                                <div class='title' id='Language_About_Company'>Company: </div>
                                <div class='data'>
                                    <span>Weteoes</span>
                                </div>
                            </div>

                            <div class='about_end'>Weteoes.All Rights Reserved</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='login_background'>
                <div class="login_background_img"></div>
            </div>
        </div>
    </body>
    <script src="/Weteoes/All/js/jquery-3.3.1.min.js"></script>
    <script src="/Weteoes/All/js/Basic.js"></script>
    <script src="/Weteoes/Client/All/js/debug.js"></script>
    <script src="/Weteoes/Client/All/js/app.js"></script>
    <script src="/Weteoes/Client/All/js/systemMenu.js"></script>
    <script src="/Weteoes/Client/Main/index/js/Language.js"></script>
    <script src="/Weteoes/Client/Main/index/js/AppMenu.js"></script>
    <script src="/Weteoes/Client/Main/index/js/data.js"></script>
    <script src="/Weteoes/Client/Main/index/js/data_setting.js"></script>
    <script src="/Weteoes/Client/Main/index/js/data_about.js"></script>
</html>