<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weteoes.computermanagement">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar">
        <activity android:name=".dlg_start" android:label="@string/dlg_start_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dlg_web" android:label="@string/dlg_title" />
    </application>
</manifest>
