.main_body_top .AppMenu{
    width: 100%;
    height: 26px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.AppMenu .menu{
    width: 140px;
    height: 26px;
    line-height: 26px;
    margin-left: -3px;
    display: inline-block;
    position: relative;
}
.menu .background{
    line-height: 26px;
    color:#000;
    background: #4b93f4;
    text-align: center;
    transform: skew(50deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.menu .title{
    width: 100%;
    text-align: center;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.menu_:hover .background{
    background: #73b5f9;
}
.menu_{
    cursor: pointer;
}
.menu_now{
    cursor: default;
}
.menu_now .background{
    background: #fff;
}
.menu_now .title{
    color:#000;
}