.main_nav {
    width: 100%;
    height: 60px;
    background: #42b3ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #42b3ff 0%, #cbebff 91%, #cbebff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #42b3ff 0%,#cbebff 91%,#cbebff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #42b3ff 0%,#cbebff 91%,#cbebff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b3ff', endColorstr='#cbebff',GradientType=1 ); /* IE6-9 */
    /* background:url('../../image/client/main/index/image/top_background.png');
    background-size: 100% 100%; */
}
.main_nav .one {
    width: 100%;
    height: 20px;
}
.main_nav_two { /* main_nav .two 高度 */
    height: 40px;
    line-height: 40px;
}
.main_nav .two {
    width: 100%;
}
.main_nav .two .left {
    width: 5px;
}
.main_nav_inline {
    display: inline-block;
    vertical-align: top;
}
.main_nav .title {
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
}
.main_nav_menu {
    width: 36px;
}
.main_nav .menu {
    padding-top: 2px;
}