<html>
    <head>
        <link href="/Weteoes/Client/Login/index/css/index.css" rel="stylesheet">
        <link href="/Weteoes/Client/All/css/SystemMenu.css" rel="stylesheet">
    </head>
    <body>
        <div class='login'>
            <div class='login_body'>
                <div class="SystemMenu">
                    <div class='menu exit' id='exit'>×</div>
                    <div class='menu mini' id='mini'>-</div>
                </div>
                <div class='login_body_center'>
                    <div class='icon'></div>
                    <div class='title'>Computer Management</div>
                    <div class='input'>
                        <input type="text" spellcheck='false' placeholder="User" id='User'/>
                        <div class="error">×</div>
                    </div>
                    <div class='input'>
                        <input type='password' placeholder="Password" id='Password'/>
                        <div class="error">×</div>
                    </div>
                    <div class="error"></div>
                    <div class='submit' id="login">Submit</div>
                </div>
            </div>
            <div class='login_background'>
                <div class="login_background_img"></div>
            </div>
        </div>
    </body>
    <script src="/Weteoes/All/js/jquery-3.3.1.min.js"></script>
    <script src="/Weteoes/All/js/Basic.js"></script>
    <script src="/Weteoes/Client/All/js/debug.js"></script>
    <script src="/Weteoes/Client/All/js/app.js"></script>
    <script src="/Weteoes/Client/Login/index/js/sumbit.js"></script>
    <script src="/Weteoes/Client/All/js/systemMenu.js"></script>
</html>